<!DOCTYPE HTML>
<html xmlns:th="localhost">
<head>
    <title>Serving Pothole Detection System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Leaflet includes -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
            integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
            crossorigin=""></script>
    <!-- end Leaflet includes -->
    <link rel="stylesheet" th:href="@{/css/map.css}"/>
    <script type="text/javascript" th:src="@{/js/collect.js}"></script>
</head>
<body>
<h3>Pothole Detection</h3>
<div id="osmMap"></div>
<script>
    fillMap();
</script>
<!--<div id="googleMap"></div>-->
<!-- <script th:inline="text"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDO1fcAKYKKfs1oJ8Ro2Uwwvz0qc3WLzQ&amp;callback=fillMap"
        async="async" defer="defer"></script> -->
<div class="footer">
    <p id="agency"> Alma Mater Studiorum Bologna - Laurea Magistrale in Ingegneria e Scienze Informatiche</p>
    <p id="credits"> PumpkinsHeads Team </p>
</div>
</body>

</html>